.swiper-container {
	width: 800px;
	height: 600px;
}

.swiper-wrapper {
	padding-inline-start: 0;
}

.swipe-item {
	position: relative;
	margin: 0;
	text-align: center;

	list-style: none;
	background: red;
}